<% @product.product_customization_types.each do |product_customization_type| %>
    <% widths = product_customization_type.calculator.preferred_widths.split(',') %>
    <% param_prefix = "product_customizations[#{product_customization_type.id}]" %>
    <% type = product_customization_type.customizable_product_options.where(name: 'Type').first %>
    <% overedging = product_customization_type.customizable_product_options.where(name: 'Overedging').first %>
    <% overedging_multiplier = product_customization_type.calculator.preferred_overedging_multiplier %>
    <% raummass_amount = @product.amount_in(:EUR, Spree::PriceCategory.find_by(name: 'raummass')) %>
    <% show_raummass = raummass_amount.present? && raummass_amount > 0 %>
    <% max_height = product_customization_type.calculator.preferred_max_height %>
    <% min_height = product_customization_type.calculator.preferred_min_height %>

    <%= hidden_field_tag "#{param_prefix}[#{type.id}]", 'glattschnitt', id: 'measure-type' %>
    <div id="carpet-options" class="row">
      <div class="col-sm-12">
        <h3><strong>Größe eingeben: </strong><span class="measure-result"></span></h3>
      </div>
      <div class="<%= show_raummass ? 'col-sm-6' : 'col-sm-12'%>">
        <a class="measure-type btn btn btn-default active <%= 'btn-block' if !show_raummass %>"
           data-value="glattschnitt"
           data-price="<%= @product.amount_in(:EUR, Spree::PriceCategory.find_by(name: 'glattschnitt'))  %>"
           role="button">
          <strong>Glattschnitt</strong><br>
          <span class="price_per">
            <%=@product.price_in(:EUR, Spree::PriceCategory.find_by(name: 'glattschnitt')).display_price.to_html %>
            <span class="per-unit">/m² *</span>
          </span>
                    <span class="help-icon glyphicon glyphicon-circle-question-mark glyphicon-yellow"
                          style="white-space: nowrap;"
                          data-toggle="popover"
                          data-trigger="hover"
                          data-placement="top"
                          data-container="body"
                          title="Glattschnitt"
                          data-content="<p><strong>Sie wählen aus den vorgegebenen Breiten.
                          Die Länge können Sie von <%=min_height%>,00 - <%=max_height%>,00 Meter frei wählen.</strong></p>
                          Geben Sie die Länge ggf. mit Nachkommastellen ein.
                          Die Berechung erfolgt zentimetergenau. Für den Zuschnitt gilt eine Toleranz von ±1%.">
          </span>
        </a>
      </div>
      <% if show_raummass %>
      <div class="col-sm-6">
        <a class="measure-type btn btn btn-default"
           data-value="raummass"
           data-price="<%= raummass_amount  %>"
           role="button">
          <strong>Raummaß</strong><br>
          <span class="price_per">
            <%=@product.price_in(:EUR, Spree::PriceCategory.find_by(name: 'raummass')).display_price.to_html %>
            <span class="per-unit">/m² *</span>
          </span>
          <span class="help-icon glyphicon glyphicon-circle-question-mark glyphicon-yellow"
                style="white-space: nowrap;"
                data-toggle="popover"
                data-trigger="hover"
                data-placement="left"
                data-container="body"
                title="Zuschnitt nach Raummaß"
                data-content="<p><strong>Sie wählen Länge und Breite, der Teppichboden wird passend zugeschnitten.</strong></p>
                <ul>
                          <li>Länge: <%=min_height%>,00 - <%=max_height%>,00 Meter</li>
                          <li>Breite: <%= widths.join(' - ') %> Meter</li>
                          </ul>
                          Geben Sie die Länge ggf. mit Nachkommastellen ein.
                          Die Berechung erfolgt zentimetergenau. Für den Zuschnitt gilt eine Toleranz von ±1%.">
          </span>
        </a>
      </div>
      <% end %>
      <div class="col-sm-12 measures-wrapper form-horizontal">
      <% product_customization_type.customizable_product_options.where.not(name: ['Type', 'Overedging']).each do |option| %>
          <% option_name = option.name.downcase %>
          <% if option_name == 'width' %>
              <div id="<%= "#{option_name}-input-field" %>" class="form-group" style="display: none;">
                <label for="<%= "#{option_name}-input" %>" class="col-sm-2 control-label"><%= option.presentation %></label>
                <div class="col-sm-10">
                  <div class="input-group">
                  <%= text_field_tag "#{param_prefix}[#{option.id}]", '', id: "#{option_name}-input", class: 'form-control', placeholder: '1,00 - 5,00 Meter' %>
                  <div class="input-group-addon">Meter</div>
                  </div>
                </div>
              </div>
              <div id="<%= "#{option_name}-select-field" %>" class="form-group">
                <label for="<%= "#{option_name}-select" %>" class="col-sm-2 control-label"><%= option.presentation %></label>
                <% select_options = options_for_select(widths.map { |v| ["#{v},00", v.strip] }) %>
                <div class="col-sm-10">
                  <div class="input-group">
                    <%= select_tag "#{param_prefix}[#{option.id}]", select_options, id: "#{option_name}-select", class: 'form-control' %>
                  <div class="input-group-addon">Meter</div>
                </div>
                </div>
              </div>
          <% else %>
              <div id="height-input-field" class="form-group">
                <label for="<%= "#{option_name}-" %>" class="col-sm-2 control-label"><%= option.presentation %></label>
                <div class="col-sm-10">
                  <div class="input-group">
                  <%= text_field_tag "#{param_prefix}[#{option.id}]", '', id: "#{option_name}-input", class: 'form-control', placeholder: "#{min_height},00 - #{max_height},00 Meter" %>
                  <div class="input-group-addon">Meter</div>
                  </div>
                </div>
              </div>
          <% end %>
      <% end %>

        <% if overedging_multiplier.present? && overedging_multiplier > 0 %>
        <ul class="list-group" class="col-sm-12">
          <li class="list-group-item">
            <div class="checkbox">
              <label for="<%= "#{param_prefix}[#{overedging.id}]" %>">
                <%= check_box_tag "#{param_prefix}[#{overedging.id}]", 'overedging', false, data: {multiplier: overedging_multiplier}, id: 'overedging' %>
                <strong><%= overedging.presentation %></strong> (<%= Spree::Money.new(overedging_multiplier).to_s.gsub(' ', '&nbsp;').html_safe %>/m)
              </label>
                        <span class="help-icon glyphicon glyphicon-circle-question-mark glyphicon-yellow"
                              style="white-space: nowrap;"
                              data-toggle="popover"
                              data-trigger="hover"
                              data-placement="top"
                              data-container="body"
                              title="Ketteln"
                              data-content="<p>Umlaufend farblich passende Kettelung</p>">
          </span>
            </div>
          </li>
        </ul>
        <% end %>
      </div>

    </div>
    <span class="small">Der Zuschnitt hat eine Toleraz von ± 1%</span>

<script>
    $(function () {
        $('#product-price').hide();
        $('#quantity').parents('.form-inline').hide();
        $('<span/>', {
            'class':'vat-and-shipping',
            'text': '*' + $('.vat-and-shipping').text()
        }).insertBefore('#add-to-cart-button');

        var     widthInput  = $("#carpet-options #width-input"),
                widthInputField  = $("#carpet-options #width-input-field"),
                widthSelect = $("#carpet-options #width-select"),
                widthSelectField = $("#carpet-options #width-select-field"),
                heightInput = $("#carpet-options #height-input"),
                heightInputField = $("#carpet-options #height-input-field"),
                priceTag    = $("#add-to-cart-button .btn-price"),
                measureResultTag   = $(".measure-result"),
                currency    = '€';

        var validInput = function() {
            $("#carpet-options .help-inline").remove();
            widthInputField.removeClass('has-error').removeClass('has-warning');
            heightInputField.removeClass('has-error').removeClass('has-warning');

            var width  = widthInput.is(':visible') ? widthInput.val().replace(',','.') : widthSelect.val();
            var height = heightInput.val().replace(',','.');

            if (parseFloat(width) < 1 || parseFloat(width) > <%= widths.map(&:to_i).max %> || isNaN(width)) {
                widthInputField.addClass('has-error')
                        .children("div")
                        .append('<span class="help-inline">Bitte geben Sie einen Wert zwischen 1 und <%= widths.map(&:to_i).max %> Metern ein.</span>');
            }

            if (parseFloat(height) < 1 || parseFloat(height) > 14 || isNaN(width)) {
                heightInputField.addClass('has-error')
                        .children("div")
                        .append('<span class="help-inline">Bitte geben Sie einen Wert zwischen 1 und 14 Metern ein.</span>');
            }

            if ($.inArray(parseFloat(width),<%= widths.map(&:to_i) %>) >= 0) widthInputField.addClass('has-warning')
                    .children("div")
                    .append('<span class="help-inline">Bei einer Breite von <%= widths.map(&:to_i).join(' oder ') %> Metern ist der Glattschnitt für sie günstiger.</span>');

            if($("#carpet-options .has-error").length > 0) return false
            return true
        };

        var calculatePrice = function() {
            var width  = widthInput.is(':visible') ? widthInput.val().replace(',','.') : widthSelect.val();
            var height = heightInput.val().replace(',','.');

            //run validation to inform user about errors/warnings
            validInput();

            // use min value on error
            if (parseFloat(width) < 1 || width == '') width = 1.0;
            if (parseFloat(height) < 1 || height == '') height = 1.0;

            width = parseFloat(width);
            height= parseFloat(height);

            overedging = getOveredgingPrice(width, height);

            return ((width * height) * getSingleUnitPrice()) + overedging;
        };

        var setSingleUnitPrice = function(amount, display) {
            $('.unit.price.selling').attr('data-price-amount', amount).html(display);
        };

        var setSumPrice = function() {
            var width = widthInput.is(':visible') ? widthInput.val().replace('.',',') : widthSelect.val();
            var height = heightInput.val().replace('.',',');

            if (parseFloat(width) < 1 || width == '') width = 1.0;
            if (parseFloat(height) < 1 || height == '') height = 1.0;

            var measurement = width + " x " + height + " Meter";
            measureResultTag.text(measurement);
            price = (calculatePrice() * parseInt($('.add-to-cart input.ve').val())).toFixed(2);
            priceTag.text((price + "").replace(".", ",") + " " + currency);
        };

        var getOveredgingPrice = function(width, height) {
            overedgingCheckbox = $("#overedging");
            if (overedgingCheckbox.is(':checked')) {
                overedgingCheckbox.prop('checked', true);
                overedgingCheckbox.attr('checked', 'checked');
                overedging = 2 * (width + height) * parseFloat(overedgingCheckbox.data('multiplier'));

            } else {
                overedging = 0;
            }
            return overedging;
        }

        var getSingleUnitPrice =function() {
            return parseFloat($('.unit.price.selling').attr('data-price-amount'));
        };

        setSingleUnitPrice($(".measure-type.active").data('price'), $(".measure-type.active").find('.price_per').html());
        setSumPrice();

        $('#carpet-options select, #carpet-options input').on('input',function(){ setSumPrice(); });
        $('#carpet-options select').on('change',function(){ setSumPrice(); });

        $(".measure-type").click(function () {
            var $this  = $(this),
                value  = $this.data('value');

            $('#measure-type').val(value);
            $('.measure-type').removeClass('active');
            $this.addClass('active');

            setSingleUnitPrice($this.data('price'), $this.find('.price_per').html());

            if (value == 'glattschnitt') {
                widthInputField.hide();
                widthSelectField.show();
                widthInput.prop('disabled', true);
                widthSelect.prop('disabled', false);
                setSumPrice();
            } else {
                widthInputField.show();
                widthSelectField.hide();
                widthSelect.prop('disabled', true);
                widthInput.prop('disabled', false);
                setSumPrice();
            }
        });

        $("#overedging").click(function(){
            setSumPrice();
        });

        $("#cart-form form").on('submit', function() {
            var valid = validInput();
            if (!valid) $(".help-inline").effect( "shake", "slow" );
            return valid;
        });

        if(window.location.hash) {
            var variantClass = window.location.hash.replace("#/", '');
            $("#color-variants img[data-title='" + variantClass + "']").trigger('click');
        }

    });
</script>
<% end %>
